In [ ]:
#Patterns
def pattern(n):
  for i in range(n):
    for j in range(n):
      print("*",end="")
    print("\n")
pattern(5)

*****

*****

*****

*****

*****

In [ ]:
def pattern(n):
  for i in range(n):
    for j in range(i+1):
      print("*",end="")
    print("\n")
pattern(5)

*

**

***

****

*****

In [ ]:
def pattern(n):
  for i in range(n):
    for j in range(1,i+2):
      print(j,end="")
    print("\n")
pattern(5)

1

12

123

1234

12345

In [ ]:
def pattern(n):
  for i in range(1,n+1):
    for j in range(i):
      print(i,end="")
    print("\n")
pattern(5)

1

22

333

4444

55555

In [ ]:
def pattern(n):
  for i in range(n):
    for j in range(n-i):
      print("*",end="")
    print("\n")
pattern(5)

*****

****

***

**

*

In [ ]:
def pattern(n):
  for i in range(n):
    for j in range(1,n-i+1):
      print(j,end="")
    print("\n")
pattern(5)

12345

1234

123

12

1

In [ ]:
def pattern(n):
  for i in range(n):
    for j in range(n-i-1):#Spaces 4 3 2 1 0
      print(" ",end="")
    for j in range(2*i+1):#Stars 1 3 5 7
      print("*",end="")
    for j in range(n-i-1):#Spaces 4 3 2 1 0
      print(" ",end="")
    print("\n")
pattern(5)

____*____

___***___

__*****__

_*******_

*********

In [ ]:
def pattern(n):
  for i in range(n):
    for j in range(i):#Spaces 0 1 2 3 4
      print(" ",end="")
    for j in range(2*n-2*i-1):#Stars 9 7 5 3 1
      print("*",end="")
    for j in range(i):#Spaces 0 1 2 3 4
      print(" ",end="")
    print("\n")
pattern(5)

*********

 *******

  *****

   ***

    *

In [ ]:
def pattern(n):
  for i in range(n):
    for j in range(n-i-1):#Spaces 4 3 2 1 0
      print(" ",end="")
    for j in range(2*i+1):#Stars 1 3 5 7
      print("*",end="")
    for j in range(n-i-1):#Spaces 4 3 2 1 0
      print(" ",end="")
    print("\n")
  for i in range(n):
    for j in range(i):#Spaces 0 1 2 3 4
      print(" ",end="")
    for j in range(2*n-2*i-1):#Stars 9 7 5 3 1
      print("*",end="")
    for j in range(i):#Spaces 0 1 2 3 4
      print(" ",end="")
    print("\n")
pattern(5)

    *

   ***

  *****

 *******

*********

*********

 *******

  *****

   ***

    *

In [ ]:
def pattern(n):
  for i in range(n):
    for j in range(i):#Spaces 0 1 2 3 4
      print(" ",end="")
    for j in range(2*n-2*i-1):#Stars 9 7 5 3 1
      print("*",end="")
    for j in range(i):#Spaces 0 1 2 3 4
      print(" ",end="")
    print("\n")
  for i in range(n):
    for j in range(n-i-1):#Spaces 4 3 2 1 0
      print(" ",end="")
    for j in range(2*i+1):#Stars 1 3 5 7
      print("*",end="")
    for j in range(n-i-1):#Spaces 4 3 2 1 0
      print(" ",end="")
    print("\n")

pattern(5)

*********

 *******

  *****

   ***

    *

    *

   ***

  *****

 *******

*********

In [ ]:
def pattern(n):
  for i in range(1,2*n):
    stars = i
    if(i>n): stars = 2*n-i
    for j in range(stars):
      print("*",end="")
    print("\n")
pattern(5)

*

**

***

****

*****

****

***

**

*

In [ ]:
def pattern(n):
  for i in range(n):
    if(i%2==0):
      start = 1
    else:
      start = 0
    for j in range(1,i+2):
      print(start,end="")
      start = 1-start
    print("\n")
pattern(5)

1

01

101

0101

10101

In [ ]:
def pattern(n):
  for i in range(1,n+1):
    for j in range(1,i+1):
      print(j,end="")
    if(i!=n):
      print(' ' *(n-i)*2,end="")
    for j in range(i,0,-1):
      print(j,end="")
    print("\n")
pattern(5)

1        1

12      21

123    321

1234  4321

1234554321

In [ ]:
def pattern(n):
  c=1
  for i in range(n):
    for j in range(i+1):
      print(c,end=" ")
      c+=1
    print("\n")
pattern(5)

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [ ]:
def pattern(n):
  for i in range(n):
    ch=65
    for j in range(i+1):
      print(chr(ch),end="")
      ch+=1
    print("\n")
pattern(5)

A

AB

ABC

ABCD

ABCDE

In [ ]:
def pattern(n):
  for i in range(n):
    ch=65
    for j in range(1,n-i+1):
      print(chr(ch),end="")
      ch+=1
    print("\n")
pattern(5)

ABCDE

ABCD

ABC

AB

A

In [ ]:
def pattern(n):
  ch = 65
  for i in range(n):
    for j in range(1,n-i+1):
      print(chr(ch),end="")
    ch+=1
    print("\n")
pattern(5)

AAAAA

BBBB

CCC

DD

E

In [ ]:
def pattern(n):
  ch=65
  for i in range(n):
    for j in range(i+1):
      print(chr(ch),end="")
    ch+=1
    print("\n")
pattern(5)

A

BB

CCC

DDDD

EEEEE

In [ ]:
def pattern(n):

  for i in range(n):
    for j in range(n-i-1):
      print(" ",end="")
    ch=65
    bp = (2*i+1)/2
    for j in range(2*i+1):
      print(chr(ch),end="")
      if j<=bp: ch+=1
      else: ch-=1
    for j in range(n-i-1):
      print(" ",end="")
    print("\n")
pattern(5)

    A

   ABC

  ABCDC

 ABCDEDC

ABCDEFEDC